@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    @apply flex justify-center items-center;
}

.square {
    height: 60px;
    width: 60px;
}

.grid-3d {
    transform: rotateX(60deg) rotateZ(-45deg);
}
